cv.json
cv.tex
cover-letter.tex

# pdflatex build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz

# Swap files
*.swp

# macOS detritus
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
