# pdflatex build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# all output
/output/*

# except the cv output
!/output/cv.tex
!/output/cv.pdf

# Swap files
*.swp

# macOS detritus
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# docs I won't want in the repo 
_docs

knowledge-base

# Vector databases
*vector_db*

# mystery database
db

crewai-rag-tool.lock
