\documentclass[10pt]{article}

\usepackage[a4paper,margin=1in]{geometry}
\usepackage[hidelinks]{hyperref}
\usepackage{enumitem}

% set the page layout
\usepackage{geometry}
\geometry{
  a4paper,
  left=20mm,
  %right=
  %bottom=
  top=15mm}

% empty the headers, footers, pagenumbers…
\pagestyle{empty}

\begin{document}

\section*{\Huge {{ name }}}
\noindent
Email: \href{mailto:{{ contact.email ~ '}{' ~ contact.email ~ '}'}} |
Phone: {{ contact.phone }}|

\section*{Summary}
\begin{itemize}[leftmargin=*]
{% for qualification in summary_of_qualifications %}
    \item {{ qualification }}
{% endfor %}
\end{itemize}

\section*{Education}
\begin{itemize}[leftmargin=*]
{% for path in education %} \item {{ path.degree }} in {{ path.major }} at {{ path.institution }} ({{ path.start_date }} -- {{ path.end_date }}) {% endfor %}
\end{itemize}

\section*{Experience}
\begin{itemize}[leftmargin=*]
{% for job in experience %}
\item \textbf{{'{' ~ job.title ~ '}'}} at {{ job.company }} ({{ job.start_date }} -- {{ job.end_date }})
  \begin{itemize}[leftmargin=*]
  {% for responsibility in job.responsibilities %}
  \item {{ responsibility }}
  {% endfor %}
  \end{itemize}
{% endfor %}
\end{itemize}

\section*{Skills}
\begin{itemize}[leftmargin=*]
{% for area in areas_of_expertise %}
    \item {{ area.name ~ ': ' ~ area.skills|join (', ') }}
{% endfor %}
\end{itemize}

\section*{Languages}
\begin{itemize}[leftmargin=*]
    {% for lang in languages %}
    \item {{ lang.language }} ({{ lang.level }})
    {% endfor %}
\end{itemize}

\end{document}
