\documentclass[10pt]{article}

\usepackage[a4paper,margin=1in]{geometry}
\usepackage[hidelinks]{hyperref}
\usepackage{enumitem}

% set the page layout
\usepackage{geometry}
\geometry{
  a4paper,
  left=20mm,
  %right=
  %bottom=
  top=15mm}

% empty the headers, footers, pagenumbers…
\pagestyle{empty}

\begin{document}

\section*{\Huge {{ name }}}
\noindent
Email: \href{mailto:{{ contact.email }}{% raw %}}{{% endraw %}{{ contact.email }}} |
Phone: {{ contact.phone }}|

\section*{Summary}
{{ summary }}

\section*{Education}
{% for edu in education %}
{% endfor %}

\end{document}
